.about-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
        
    .Collapse-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
}