.containerCollapse{
    width: 100%;

    .titleCollapse{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background-color: #ff6060;
        margin-top: 20px;
        color: white;
        font-size: 20px;
        padding-left: 10px;

        @media screen and (max-width: 425px) {
            width: 80%;
        }

        button{
            border: none;
            background-color: #ff6060; 

            .arrowTop {
                display: flex;
            }

            .arrowBottom {
                display: flex;
            }
        }
    }

    .contentCollapse{
        background-color:#E5E5E5;
        height:auto;
        display: flex;
        align-items: center;
        padding: 10px;
        color: #ff6060;
        font-size: 18px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        

        @media screen and (max-width: 425px) {
            width: 80%;
        }
    }
}