.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    padding-top: 40px;

    .logofooter {
        color: white;
        margin-bottom: 10px;
    }

    .text-footer {
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
